%p.profile-settings-content
  = s_("DeployTokens|Pick a name for the application, and we'll give you a unique deploy token.")

= form_for token, url: create_deploy_token_path(group_or_project, anchor: 'js-deploy-tokens'), method: :post, remote: Feature.enabled?(:ajax_new_deploy_token, group_or_project) do |f|
  = form_errors(token)

  .form-group
    = f.label :name, class: 'label-bold'
    = f.text_field :name, class: 'form-control gl-form-input qa-deploy-token-name', required: true

  .form-group
    = f.label :expires_at, class: 'label-bold'
    = f.text_field :expires_at, class: 'datepicker form-control gl-form-input qa-deploy-token-expires-at', value: f.object.expires_at

  .form-group
    = f.label :username, class: 'label-bold'
    = f.text_field :username, class: 'form-control gl-form-input qa-deploy-token-username'
    .text-secondary= s_('DeployTokens|Default format is "gitlab+deploy-token-{n}". Enter custom username if you want to change it.')

  .form-group
    = f.label :scopes, class: 'label-bold'
    %fieldset.form-group.form-check
      = f.check_box :read_repository, class: 'form-check-input qa-deploy-token-read-repository'
      = label_tag ("deploy_token_read_repository"), 'read_repository', class: 'label-bold form-check-label'
      .text-secondary= s_('DeployTokens|Allows read-only access to the repository')

    - if container_registry_enabled?(group_or_project)
      %fieldset.form-group.form-check
        = f.check_box :read_registry, class: 'form-check-input qa-deploy-token-read-registry'
        = label_tag ("deploy_token_read_registry"), 'read_registry', class: 'label-bold form-check-label'
        .text-secondary= s_('DeployTokens|Allows read-only access to the registry images')

      %fieldset.form-group.form-check
        = f.check_box :write_registry, class: 'form-check-input'
        = label_tag ("deploy_token_write_registry"), 'write_registry', class: 'label-bold form-check-label'
        .text-secondary= s_('DeployTokens|Allows write access to the registry images')

    - if packages_registry_enabled?(group_or_project)
      %fieldset.form-group.form-check
        = f.check_box :read_package_registry, class: 'form-check-input'
        = label_tag ("deploy_token_read_package_registry"), 'read_package_registry', class: 'label-bold form-check-label'
        .text-secondary= s_('DeployTokens|Allows read access to the package registry')

      %fieldset.form-group.form-check
        = f.check_box :write_package_registry, class: 'form-check-input'
        = label_tag ("deploy_token_write_package_registry"), 'write_package_registry', class: 'label-bold form-check-label'
        .text-secondary= s_('DeployTokens|Allows write access to the package registry')

  .gl-mt-3
    = f.submit s_('DeployTokens|Create deploy token'), class: 'btn gl-button btn-success qa-create-deploy-token'
