- server = local_assigns.fetch(:server)
- hide_remember_me = local_assigns.fetch(:hide_remember_me, false)
- submit_message = local_assigns.fetch(:submit_message, _('Sign in'))

= form_tag(omniauth_callback_path(:user, server['provider_name']), id: 'new_ldap_user', class: "gl-show-field-errors") do
  .form-group
    = label_tag :username, "#{server['label']} Username"
    = text_field_tag :username, nil, { class: "form-control gl-form-input top", title: "This field is required.", autofocus: "autofocus", data: { qa_selector: 'username_field' }, required: true }
  .form-group
    = label_tag :password
    = password_field_tag :password, nil, { class: "form-control gl-form-input bottom", title: "This field is required.", data: { qa_selector: 'password_field' }, required: true }
  - if !hide_remember_me && devise_mapping.rememberable?
    .remember-me
      %label{ for: "remember_me" }
        = check_box_tag :remember_me, '1', false, id: 'remember_me'
        %span Remember me

  .submit-container.move-submit-down
    = submit_tag submit_message, class: "gl-button btn-success btn", data: { qa_selector: 'sign_in_button' }
